   * {
       box-sizing: border-box;
    }

    .body {
        background-color: rgba(9, 7, 7, 0.93);
        color: #dddddd;
        outline: #0e624c;
        margin: 0;
    }

    .center_element {
        margin: auto;
        max-width: 300px;
    }

    #page {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }

    main {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        /* min-height: 50%; */
        flex-grow: 1;
        flex-shrink: 1;
        overflow:auto;
    }

    label {
        justify-self: end;
        ;
    }

    #controls {
        /* min-height: 20%; */
        font-size: 1.4rem;
        display: grid;
        grid-template-columns: 1fr 6fr 1fr 1fr;
        grid-auto-rows: 1.4rem;
        ;
        grid-gap: .5rem;
        max-width: 70rem;

    }

    .columns {
        float: left;
        width: 33.3%;
        padding: 8px;
    }

    #output {
        width: 100%;
        height: 100%;
        background: #eee;
        overflow: auto;
        margin: 0;
    }
    #output p {
        border-bottom: 1px solid grey;
        padding-bottom: .25rem;
    }
    #header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #header li {
        display: block;
        font-style: italic;
        font-size: 1.2rem;
        padding: .25rem;
        margin:0 1rem;
    }

    .topnav {
      overflow: hidden;
      background-color: #333;
}

    .topnav a {
        float:left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }



    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }

    .topnav a.split {
        float: right;
        background-color: #04AA6D;
        color: white;
    }