{% extends "base.html" %}
{% block content %}
<h1 class=center_element>INF226 - Wannabe Discord Login</h1>
    <form name="loginform" action="" method=post>
  <dl class=center_element>
    {{ form.csrf_token }}

    <dt>Username:
    <dd>{{ form.username }}

    <dt>Password:
    <dd>{{ form.password }}

      <p>
    <input type=submit value="Log in">
    <input type=hidden value="{{ next or '' }}" name=next>
      <p>
  </dl>
    <p class=center_element><small>
        Don't have an account? <a href={{url_for("auth.register")}}>Register</a>
    </small></p>
</form>
{% endblock content %}