{% extends "layout.html" %}
{% block content %}
<h1 class="center_element">INF226 - Terrible Email Registration</h1>
    <form action="" method=post>
  <dl class="center_element">
      {{ form.csrf_token }}

    <dt> Username:
    <dd>{{ form.username }}

    <dt> Password:
    <dd>{{ form.password }}

    <dt> Confirm Password:
    <dd>{{ form.password_confirm }}

    <p>
    <input type=submit value=Register>
    <input type=hidden value="{{ next or '' }}" name=next>
    <p>
  </dl>
    <p class=center_element><small>
        Already have an account? <a href={{url_for("auth.login")}}>Sign In</a>
    </small></p>
    </form>

{% endblock content %}